services:
  realworld-db:
    image: postgres:18-alpine
    ports:
      - "5432:5432"
    volumes:
      - realworld-db-data:/var/lib/postgresql
      - ./docker/realworld-db:/docker-entrypoint-initdb.d
    environment:
      APP_USER: realworld
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: secret
      POSTGRES_DB: realworld

volumes:
  realworld-db-data:
    driver: local
